pandas
numpy
scikit-learn
opencv-python
tensorflow
keras
nltk
spacy
matplotlib
seaborn
plotly
bokeh
xgboost
lightgbm
catboost
torch
fastai
yellowbrick
statsmodels
optuna
hyperopt
flask
fastapi
streamlit
django
docker
tensorflow-serving-api
shap
lime
gitpython
dvc
mlflow
sqlalchemy
h5py
pyarrow
joblib
pillow
pytest
celery
-e .